.deck-title-modal-container {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #505050;
  padding: 1.5em;
  border-radius: 0.5em;
  height: 200px;
  width: 300px;
}

.add-form {
  margin-top: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add-form input {
  width: 250px;
}