.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #a2a9b1cb;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.add-form {
    margin-top: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add-form input {
    width: 250px;
}

.deck-title-modal-container {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #505050;
    padding: 1.5em;
    border-radius: 0.5em;
    height: 150px;
    width: 300px;
}

.new-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    border-radius: 0.5em;
    border: 2px dashed #505050;
    background-color: #fcfcfc;
    transform-style: preserve-3d;
    color: #505050;
    transition: 150ms;
    cursor: pointer;
    height: 150px;
    width: 300px;
}

.deck-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, max-content));
    grid-template-rows: repeat(auto-fit, minmax(5em, max-content));
    grid-gap: 0.5rem;
    grid-auto-flow: dense;
}

@media (max-width: 1200px) {
    .deckContainer {
        grid-template-columns: 100%;
    }
}

.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.deck-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-end-card {
    position: fixed;
    top: 50%;
    left: 50%;
}