  .container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  
  .card-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #505050;
    background-color: #fcfcfc;
    transform-style: preserve-3d;
    transition: 300ms;
    cursor: pointer;
    height: 150px;
    width: 300px;
    margin-top: 60px;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  }
  
  .card-welcome.flip {
    --rotate-y: 180deg;
  }
  
.card-welcome .front,
.card-welcome .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}
  
.card-welcome .back {
  transform: rotateY(180deg);
}

.card-welcome .front {
  font-size: 26px;
}
  
p {
  text-align: center;
  font-size: 12px;
  color: #555;
}

  /* .flashcard-options {
    margin-top: .5rem;
  }
  
  .flashcard-option {
    margin-top: .25rem;
    color: #555;
    font-size: .75rem;
  }
  
  .flashcard-option:first-child {
    margin-top: 0;
  } */