.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  background-color: #fcfcfc;
  border: 2px solid #505050;
  border-radius: 5px;
  color: black;
  height: 250px;
}

.button-container {
  display: flex;
  align-items: center;
  margin: 10px;
}