.main-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 5px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: black;
    height: 200px;
}

.edit-panel {
    margin: 0 auto;
    width: 600px;
    margin-top: 50px;
    color: black;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.btn-repeat {
    background-color: rgb(134, 28, 28);
    color: #fff;
}
.btn-done {
    background-color: rgb(15, 173, 15);
    color: #fff;
}
.btn-create {
    border: 1px solid #3d5a80;
}
.btn-select {
    border: 1px solid #3d5a80;
}

.all-in-one-page {
    margin: 50px 10px;
    text-align: center;
}

.medium {
    color: #fff;
}

.card-container {
    cursor: pointer;
    height: 150px;
    width: 150px;
    perspective: 800px;
    position: relative;
    margin: auto;
    transition: ease-in;
}