.main-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #fcfcfc;
    /* border: 2px solid #505050; */
    border-radius: 5px;
    color: black;
    height: 250px;
}

.edit-panel {
    margin: 0 auto;
    width: 450px;
    margin-top: 5px;
    color: black;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.buttons > * {
    width: 100px;
}

.btn-repeat {
    background-color: rgb(134, 28, 28);
    color: #fff;
}
.btn-done {
    background-color: rgb(15, 173, 15);
    color: #fff;
}
.btn-create {
    border: 1px solid #3d5a80;
}
.btn-select {
    border: 1px solid #3d5a80;
}

.all-in-one-page {
    margin: 50px 10px;
    text-align: center;
}

.medium {
    color: #fff;
}

.card-container {
    cursor: pointer;
    height: 150px;
    width: 150px;
    perspective: 800px;
    position: relative;
    margin: auto;
    transition: ease-in;
}

.deck-info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    margin-bottom: 20px;
    width: 370px;
}

.deck-info > * {
    width: 120px;
}