.header {
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fcfcfc;
    border-left: 2px solid #505050;
    border-right: 2px solid #505050;
    border-bottom: 2px solid #505050;
}