.container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
  
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #505050;
    background-color: #fcfcfc;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    height: 150px;
    width: 300px;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card.flip {
    --rotate-y: 180deg;
  }
  
.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}
  
.card .back {
  transform: rotateY(180deg);
}

.edit-mode-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #505050;
  background-color: #fcfcfc;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  height: 150px;
  width: 300px;
}

.edit-mode-card:first-child {
  border-bottom: 2px solid #505050;
}

.front.edit {
  display: block;
  border-right: 2px solid #505050;
  padding: 5px;
}

.back.edit {
  display: block;
  padding: 5px;
}

.cross {
  position: absolute;
  right: 10px;
  top: 6px;
}